body {
  margin: 0;
  background-color: black;
}

canvas {
  display: block;
}

span {
  padding: 12px;
}

h2 {
  color: orangered;
  text-align: center;
}

p {
  color: orangered;
  text-align: center;
}

#controls {
  position: absolute;
  width: 400px;
  right: 0;
  background-color: #11111188;
}