body {
  margin: 0;
  background-color: black;
}

canvas {
  display: block;
}

span {
  padding: 12px;
}

p {
  color: silver;
  text-align: center;
  margin: 5px;
}

#controls {
  position: absolute;
  width: 400px;
  right: 0;
}